body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #17cc38;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.formulario-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"],
select,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align:left;
    padding: 10px;
}
